<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MedicalStoreSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <connectionStrings>
        <add name="MedicalStoreDB"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MedicalStoreDB;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>

	<appSettings>
		<!-- إعدادات عامة -->
		<add key="ApplicationName" value="نظام إدارة المستلزمات الطبية"/>
		<add key="Version" value="1.0"/>
		<add key="EnableLogging" value="true"/>

		<!-- إعدادات الفواتير -->
		<add key="InvoiceFooter" value="شكراً لتعاملكم معنا"/>
		<add key="VATPercent" value="14"/>

		<!-- إعدادات النسخ الاحتياطي -->
		<add key="BackupPath" value="C:\MedicalStoreBackup"/>
		<add key="AutoBackup" value="false"/>
	</appSettings>
 <userSettings>
  <MedicalStoreSystem.Properties.Settings>
   <setting name="AutoBackup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BackupDays" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="BackupPath" serializeAs="String">
    <value />
   </setting>
   <setting name="LastBackupDate" serializeAs="String">
    <value>2025-01-01</value>
   </setting>
  </MedicalStoreSystem.Properties.Settings>
 </userSettings>
</configuration>

